
@font-face {
  font-family: 'BradleyHandITC';
  src: url('BradleyHandITC.eot?#iefix') format('embedded-opentype'),  url('BradleyHandITC.woff') format('woff'), url('BradleyHandITC.ttf')  format('truetype'), url('BradleyHandITC.svg#BradleyHandITC') format('svg');
  font-weight: normal;
  font-style: normal;
}
