<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="">
<meta name="description" content="">
<title>Client Dashboard</title>
<!--

Template 2080 Minimax

http://www.tooplate.com/view/2080-minimax

-->
<!-- stylesheet css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/nivo-lightbox.css">
<link rel="stylesheet" href="css/nivo_themes/default/default.css">
<link rel="stylesheet" href="css/select.css">
<link rel="stylesheet" href="css/style.css">
<!-- google web font css -->
<link rel="stylesheet" href="web-fonts/Helvetica/styles.css">
<link rel="stylesheet" href="web-fonts/BradleyHandITC/styles.css">
<link rel="stylesheet" href="web-fonts/Krungthep/stylesheet.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- navigation -->
<header>
  <div class="top-bar">
    <div class="container">
      <div class=" col-md-7 col-sm-7 col-lg-7 phone"> <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Suport@freelancer.com</a> <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> 1234567890</a> </div>
      <div class=" col-md-2 col-sm-2 col-lg-2 text-right">
        <div class="translatore">
          <select title="Select your surfboard" class="selectpicker">
            <option data-thumbnail="images/flag.jpg">English</option>
            <option data-thumbnail="images/flag.jpg">English</option>
            <option data-thumbnail="images/flag.jpg">English</option>
          </select>
        </div>
      </div>
      <div class=" col-md-3 col-sm-3 col-lg-3 text-right">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> </button>
      <a href="#home" class="navbar-brand smoothScroll"><img src="images/logo.jpg" alt=""></a> </div>
    <div class="collapse navbar-collapse">
      <div class="box">
        <div class="container-2"> <span class="icon"><i class="fa fa-search"></i></span>
          <input type="text" name="search" placeholder="Find Freelancers">
        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="smoothScroll">BROWSE </a></li>
        <li><a href="#service" class="smoothScroll">Common Question</a></li>
        <li class="myprofile"><a href="#" class="smoothScroll ">My Profile</a></li>
      </ul>
      <div class="user-profile-menu"> <a href="javascript:void();"><img src="images/user.png" class="img-circle"> Test Name</a> </div>
    </div>
  </div>
</header>
<div class="clearfix"></div>
<!-- Clientadmin dashboard section -->
<div class="clientdashboardarea">
  <div class="container">
    <div class="row clienttoprow">
      <div class="col-md-2 col-sm-12 col-lg-2">
        <h3>Find Work</h3>
      </div>
      <div class="col-md-8 col-sm-12 col-lg-8 ">
        <div class="serchfield">
          <form class="navbar-form" role="search">
            <div class="input-group add-on">
              <input class="form-control" placeholder="Search by keywords (PHP, .NET, graphic design, etc.)" name="srch-term" id="srch-term" type="text">
              <button class="btn-default submit" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-lg-2"> </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-2 col-sm-12 col-lg-2 findworksidebar">
        <ul class="prelist">
          <li><a href="javascript:void();" class="active">Special Offer Jobs</a></li>
          <li><a href="javascript:void();">My Job Feed</a></li>
          <li><a href="javascript:void();">Web Development</a></li>
          <li><a href="javascript:void();">Recommended</a></li>
        </ul>
        <h4>Recent Searches</h4>
        <ul class="recent-searches">
          <li><a href="javascript:void();">CSS3</a></li>
          <li><a href="javascript:void();">Wordpress</a></li>
          <li><a href="javascript:void();">html 5</a></li>
          <li><a href="javascript:void();">PHP</a></li>
        </ul>
        <h4>My Categories</h4>
        <ul class="recent-searches">
          <li><a href="javascript:void();">Web & Mobile Design</a></li>
          <li><a href="javascript:void();">Mobile Development</a></li>
          <li><a href="javascript:void();">Web Development</a></li>
        </ul>
      </div>
      <div class="col-md-8 col-sm-12 col-lg-8">
        <div class="clientjobfeed">
          <header>
            <h3>Special Offer Jobs</h3>
          </header>
          <div class="jobfeed">
            <div class="jobpost">
              <h4>Ui front dnd developer</h4>
              <p class="jobdetails">Fixed-Price - Entry Level ($) - Est. Budget: $400 - Posted 1 month ago</p>
              <p class="projectdetails">Want to develop an online home delivery app on which local stores can enlist themselves and the users can order products from any store of their choice the order details should get directed to the delivery boys who can buy and deliver the products. T ... <a href="javascript:void()" class="readmore">more</a></p>
              <div class="projecttags"> <span>PHP</span><span>Web Development</span><span>MySQL</span> </div>
              <div class="clearfix"></div>
              <p class="proposaldetail">Proposals: 15 to 20  Number of freelancers needed: 2</p>
              <p class="client-requirement"><span class="paymentverified">Client: <span class="glyphicon glyphicon-ok-circle"></span>Payment verified</span> <span class="amountspent">$600+ spent</span> <span class="clientlocation"><span class="glyphicon glyphicon-map-marker"></span>United States</span> </p>
            </div>
            <div class="jobpost">
              <h4>Ui front dnd developer</h4>
              <p class="jobdetails">Fixed-Price - Entry Level ($) - Est. Budget: $400 - Posted 1 month ago</p>
              <p class="projectdetails">Want to develop an online home delivery app on which local stores can enlist themselves and the users can order products from any store of their choice the order details should get directed to the delivery boys who can buy and deliver the products. T ... <a href="javascript:void()" class="readmore">more</a></p>
              <div class="projecttags"> <span>PHP</span><span>Web Development</span><span>MySQL</span> </div>
              <div class="clearfix"></div>
              <p class="proposaldetail">Proposals: 15 to 20  Number of freelancers needed: 2</p>
              <p class="client-requirement"><span class="paymentverified">Client: <span class="glyphicon glyphicon-ok-circle"></span>Payment verified</span> <span class="amountspent">$600+ spent</span> <span class="clientlocation"><span class="glyphicon glyphicon-map-marker"></span>United States</span> </p>
            </div>
            <div class="jobpost">
              <h4>Ui front dnd developer</h4>
              <p class="jobdetails">Fixed-Price - Entry Level ($) - Est. Budget: $400 - Posted 1 month ago</p>
              <p class="projectdetails">Want to develop an online home delivery app on which local stores can enlist themselves and the users can order products from any store of their choice the order details should get directed to the delivery boys who can buy and deliver the products. T ... <a href="javascript:void()" class="readmore">more</a></p>
              <div class="projecttags"> <span>PHP</span><span>Web Development</span><span>MySQL</span> </div>
              <div class="clearfix"></div>
              <p class="proposaldetail">Proposals: 15 to 20  Number of freelancers needed: 2</p>
              <p class="client-requirement"><span class="paymentverified">Client: <span class="glyphicon glyphicon-ok-circle"></span>Payment verified</span> <span class="amountspent">$600+ spent</span> <span class="clientlocation"><span class="glyphicon glyphicon-map-marker"></span>United States</span> </p>
            </div>
            <div class="jobpost">
              <h4>Ui front dnd developer</h4>
              <p class="jobdetails">Fixed-Price - Entry Level ($) - Est. Budget: $400 - Posted 1 month ago</p>
              <p class="projectdetails">Want to develop an online home delivery app on which local stores can enlist themselves and the users can order products from any store of their choice the order details should get directed to the delivery boys who can buy and deliver the products. T ... <a href="javascript:void()" class="readmore">more</a></p>
              <div class="projecttags"> <span>PHP</span><span>Web Development</span><span>MySQL</span> </div>
              <div class="clearfix"></div>
              <p class="proposaldetail">Proposals: 15 to 20  Number of freelancers needed: 2</p>
              <p class="client-requirement"><span class="paymentverified">Client: <span class="glyphicon glyphicon-ok-circle"></span>Payment verified</span> <span class="amountspent">$600+ spent</span> <span class="clientlocation"><span class="glyphicon glyphicon-map-marker"></span>United States</span> </p>
            </div>
            <div class="jobpost">
              <h4>Ui front dnd developer</h4>
              <p class="jobdetails">Fixed-Price - Entry Level ($) - Est. Budget: $400 - Posted 1 month ago</p>
              <p class="projectdetails">Want to develop an online home delivery app on which local stores can enlist themselves and the users can order products from any store of their choice the order details should get directed to the delivery boys who can buy and deliver the products. T ... <a href="javascript:void()" class="readmore">more</a></p>
              <div class="projecttags"> <span>PHP</span><span>Web Development</span><span>MySQL</span> </div>
              <div class="clearfix"></div>
              <p class="proposaldetail">Proposals: 15 to 20  Number of freelancers needed: 2</p>
              <p class="client-requirement"><span class="paymentverified">Client: <span class="glyphicon glyphicon-ok-circle"></span>Payment verified</span> <span class="amountspent">$600+ spent</span> <span class="clientlocation"><span class="glyphicon glyphicon-map-marker"></span>United States</span> </p>
            </div>
            <div class="jobpost">
              <h4>Ui front dnd developer</h4>
              <p class="jobdetails">Fixed-Price - Entry Level ($) - Est. Budget: $400 - Posted 1 month ago</p>
              <p class="projectdetails">Want to develop an online home delivery app on which local stores can enlist themselves and the users can order products from any store of their choice the order details should get directed to the delivery boys who can buy and deliver the products. T ... <a href="javascript:void()" class="readmore">more</a></p>
              <div class="projecttags"> <span>PHP</span><span>Web Development</span><span>MySQL</span> </div>
              <div class="clearfix"></div>
              <p class="proposaldetail">Proposals: 15 to 20  Number of freelancers needed: 2</p>
              <p class="client-requirement"><span class="paymentverified">Client: <span class="glyphicon glyphicon-ok-circle"></span>Payment verified</span> <span class="amountspent">$600+ spent</span> <span class="clientlocation"><span class="glyphicon glyphicon-map-marker"></span>United States</span> </p>
            </div>
            <div class="loadmorejobs"><a href="javascript:void(0);">Load More</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-lg-2 clientrightsec">
        <div class="myprofile" data-toggle="modal" data-target="#mypicedit"><img src="images/user.png" class="img-circle">
          <h4>Test Name</h4>
        </div>
        
        <!-- Modal -->
        <div class="modal fade" id="mypicedit" role="dialog">
          <div class="modal-dialog"> 
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <div class="row">
                  <div class="col-xs-10">
                    <h3 class="text-left nomar">Edit Portrait</h3>
                  </div>
                  <div class="col-xs-2 text-right">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                </div>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <figure class="text-center"> <img src="images/userpic.jpg" alt="user pic"> </figure>
                    <p>Drag frame to adjust portrait.</p>
                    <a href="javascript:void(0);" class="uploat-another">Upload a different photo</a> </div>
                  <div class="col-xs-12 col-sm-6 text-center yourprofilepic">
                    <h4 class="text-left">Your profile portrait</h4>
                    <figure class="text-center"> <img src="images/userpic.jpg" alt="user pic" class="img-circle"> </figure>
                    <p class="text-left">Must be an actual picture of you! Logos, clip-art, group pictures, and digitally-altered images not allowed.</p>
                    <div class="savebtns">
                      <button type="button" class="btn btn-success">Save</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="availability">
          <h4>Availability</h4>
          <p><span class="glyphicon">&#xe023;</span>More than <br>
            30 hrs/week <a href="#" data-toggle="modal" data-target="#changeavailability"> <span class="glyphicon glyphicon-pencil"></span> </a></p>
          <div class="userlocation"> <a href="javascript:void(0);" data-toggle="modal" data-target="#mylocation"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;<span class="locationvalue">Location</span>&nbsp; <span class="glyphicon glyphicon-pencil"></span></a> </div>
          <div class="modal fade" id="mylocation" role="dialog">
            <div class="modal-dialog"> 
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-xs-10">
                      <h3 class="text-left nomar">Select location</h3>
                    </div>
                    <div class="col-xs-2 text-right">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6"> </div>
                  </div>
                </div>
                <div class="modal-footer text-left">
                  <button type="button" class="btn btn-success">Save</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="progress profileprogress">
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%"> 70% </div>
          </div>
          <div class="viewprofile"> <a href="#"> <span class="glyphicon glyphicon-eye-open"></span>&nbsp; View Profile </a> </div>
          <div class="modal fade" id="changeavailability" role="dialog">
            <div class="modal-dialog"> 
              
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <div class="row">
                    <div class="col-xs-10">
                      <h3 class="text-left nomar">Change Availability</h3>
                    </div>
                    <div class="col-xs-2 text-right">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                  </div>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-5">
                      <p class="m-md-bottom"> Are you available to take on new work? Knowing when you are available helps Us find the right jobs for you. </p>
                      <p> </p>
                    </div>
                    <div class="col-md-7">
                      <div class="p-lg-left o-left-border">
                        <p class="m-sm-bottom">I am currently</p>
                        <div class="m-md-bottom">
                          <div class="btn-group">
                            <button class="btn btn-default active" type="button" >Available</button>
                            <button class="btn btn-default" type="button">Not Available</button>
                          </div>
                        </div>
                        
                        <!---->
                        <div  class="radio" >
                          <label>
                            <input type="radio" name="capacity" value="fullTime">
                            More than 30 hrs/week </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="capacity" value="partTime">
                            Less than 30 hrs/week </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="capacity" value="notSure">
                            As Needed - Open to Offers </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer text-left">
                  <button type="button" class="btn btn-success">Save</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
<br>
</div>


<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

<!-- footer section -->
<footer>
  <div class="container">
    <div class="row">
      <div class="footer-scor">
        <div class="col-md-4 col-sm-4 col-lg-4">
          <h2>25,360,777 <br>
            <small>REGISTERED USERS</small></h2>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
          <h2>12,461,761 <br>
            <small>TOTAL JOBS POSTED </small></h2>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4"> </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <h2>Network</h2>
        <ul>
          <li><a href="#">Browse Categories </a></li>
          <li><a href="#">Browse Projects</a></li>
          <li><a href="#">Browse Contests</a></li>
          <li><a href="#">Browse Freelancers</a></li>
          <li><a href="#">Browse Freelancers</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Freelancer Local</a></li>
          <li><a href="#">Showcase</a></li>
          <li><a href="#">Escrow</a></li>
          <li><a href="#">Warrior Forum</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2">
        <h2>About </h2>
        <ul class="social-icons0">
          <li><a href="#">About us</a></li>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Mobile App</a></li>
          <li><a href="#">Desktop App</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Fees & Charges</a></li>
          <li><a href="#">Investor</a></li>
          <li><a href="#">Quotes</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2">
        <h2>Press</h2>
        <ul class="social-icons0">
          <li><a href="#">In the News</a></li>
          <li><a href="#">Press Releases</a></li>
          <li><a href="#">Awards</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Timeline</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-2">
        <h2>Get in Touch </h2>
        <ul class="social-icons1">
          <li><a href="#">Get Support</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">Affiliate Program</a></li>
          <li><a href="#">Merchandise</a></li>
          <li><a href="#">Help Translate</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4">
        <h2>Freelancer</h2>
        <ul class="social-icons2">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Copyright Infringement Policy </a></li>
          <li><a href="#">Code of Conduct</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-8 col-sm-8 lg-8 translatored">
          <div class="translatore Footer-localeSelector-btn"> India / English </div>
        </div>
        <div class="col-md-4 col-sm-4 lg-4 text-right">
          <ul class="social">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <ul class="last-contry">
          <li><a href="#">US (International)</a></li>
          <li><a href="#">Australia</a></li>
          <li><a href="#">United Kingdom</a></li>
          <li><a href="#">Spain</a></li>
          <li><a href="#">Japan</a></li>
          <li><a href="#">Germany</a></li>
          <li><a href="#">Brazil</a></li>
          <li><a href="#">France</a></li>
          <li><a href="#">Canada</a></li>
          <li><a href="#">China</a></li>
          <li><a href="#">Hong Kong</a></li>
          <li><a href="#">Indonesia</a></li>
          <li><a href="#">Philippines</a></li>
          <li><a href="#">Pakistan</a></li>
          <li><a href="#">Mexico</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr>
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>

<!-- scrolltop section --> 
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a> 

<!-- javascript js --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
<script src="js/jquery.js"></script> 
<script src="js/select.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/nivo-lightbox.min.js"></script> 
<script src="js/smoothscroll.js"></script> 
<script src="js/jquery.nav.js"></script> 
<script src="js/isotope.js"></script> 
<script src="js/imagesloaded.min.js"></script> 
<script src="js/custom.js"></script> 
<script>
	
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();

    if (scroll >= 150) {
        $(".navbar").addClass("navbar-fixed-top");
    } else {
        $(".navbar").removeClass("navbar-fixed-top");
    }
});
	
/*
$(window).scroll(function() { 
$(".navbar").addClass("navbar-fixed-top");
alert('rrrr');   
    var scroll = $(window).scrollTop();    
    if (scroll <= 500) {
        $(".navbar").addClass("navbar-fixed-top");
	//$(".navbar").removeClass("navbar-fixed-top");	
    }

}*/
</script>
</body>
</html>